body,
html,
#root {
  height: 100%;
  margin: auto;
  /* background: url("http://jammming.s3-website-us-east-1.amazonaws.com/static/media/background_photo_desktop.37be7357.jpg"); */
  /* background-color: rgb(24, 24, 24); */
  background: url(../../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  min-width: 320px;
}

.container-fluid {
  padding: 0;
}
.App {
  background-color: transparent;
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: 4rem;
}
/* nav bar */
.nav {
  background-color: rgb(29, 185, 84);
  position: fixed;
  width: 100%;
  padding: 1.2rem 0;
  z-index: 100;
}
.nav h1 {
  color: white;
  font-size: 1.85rem;
  font-family: Poppins, sans-serif;
}

.user-info {
  margin-top: 2rem;
  color: white;
}

.user-info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 90%;
  }
}
