body,
html,
#root {
  height: 100%;
  margin: auto;

  background: url(../../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  min-width: 320px;
}

.container-fluid {
  padding: 0;
}
.App {
  background-color: transparent;
  margin: 0 auto;
  width: 90%;
  position: relative;
  top: 4rem;
}
/* nav bar */
.nav {
  background-color: rgba(24, 24, 24);
  position: fixed;
  width: 100%;
  padding: 1.2rem 0;
  z-index: 100;
}
.nav h1 {
  color: #1db954;

  font-size: 1.85rem;
  font-family: Poppins, sans-serif;
}

.user-info {
  margin-top: 2rem;
  color: white;
}

.user-info h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
footer {
  width: 100%;
  background-color: rgba(24, 24, 24);
  color: gray;
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  padding: 0.5rem;
}
footer p {
  padding-top: 0.2rem;
  color: gray;
  font-size: 0.8rem;
}
footer i {
  color: black;
  font-size: 1rem;

  filter: brightness(0) invert(1);
}
.github {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 90%;
  }
}
